<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <meta content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
  <title>项目管理</title>
  <script type="text/javascript">
    var docEl = document.documentElement;
    docEl.style.fontSize = 100 * (docEl.clientWidth / 750) + 'px';
  </script>
  <script type="text/javascript">
    
    window.GlobalData = window.GlobalData || {
        FE_URL_HOST_NAME: '{{FE_URL_HOST_NAME}}',
        FE_URL_PORT: '{{FE_URL_PORT}}'
    };
  </script>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/index.css">
  <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
  <div id="app">
      Loading...
  </div>
  <script src="/vendor.js"></script>
  <script src="/index.js"></script>
</body>
</html>
